# Очистка данных и фильтрация по городу

In [1]:
import pandas as pd

vacancies_df = pd.read_parquet('data/processed/vacancies.parquet')
vacancies_df.describe()

,id,stateRegionCode,vacancyName,codeProfession,codeProfessionalSphere,professionalSphereName,vacancyAddress,vacancyAddressHouse,vacancyAddressAdditionalInfo,geo,...,hireDate,workPlace,medicalCertificate,scheduleTypeComment,benefitDetails,trainingDays,shift,medicalDocument,benefit,conditions
count,132270,132270,132270,101825,132268,132268,130573,101087,59616,132270,...,4129,132269,1186,3715,1,132270,132268,13212,11885,63900
unique,132270,18,38839,2635,35,35,45130,9814,31885,36758,...,174,483,435,420,1,40,8,2,155,4
top,fd3484bd-048e-11f0-9571-d549be31d974,7700000000000,Продавец-кассир,265416,Sales,"Продажи, закупки, снабжение, торговля",Город Москва,1,г Москва,"{""latitude"": 55.755819, ""longitude"": 37.617644}",...,2025-04-01T00:00:00+0300,"{""workPlaceForeign"": false, ""workPlaceOrdinary...",прохождении предварительного медицинского осмотра,Без уточнения,0,0,[],Медицинская книжка,Добровольное медицинское страхование,Допустимые
freq,1,19106,8790,4240,21613,21613,5094,6394,459,4976,...,451,100407,39,2482,1,131631,115606,12027,3471,35268

In [8]:
clean_vacancies_df = vacancies_df.query('stateRegionCode == "7700000000000"')
clean_vacancies_df.describe()

,id,stateRegionCode,vacancyName,codeProfession,codeProfessionalSphere,professionalSphereName,vacancyAddress,vacancyAddressHouse,vacancyAddressAdditionalInfo,geo,...,hireDate,workPlace,medicalCertificate,scheduleTypeComment,benefitDetails,trainingDays,shift,medicalDocument,benefit,conditions
count,19106,19106,19106,9286,19106,19106,18890,10474,11225,19106,...,509,19106,94,944,0,19106,19106,994,1924,5698
unique,19106,1,8716,864,35,35,5291,2570,5902,4859,...,94,102,49,86,0,16,8,2,72,4
top,fdd97dc8-009d-11f0-bdbc-cb26dff57dd7,7700000000000,Продавец-кассир,265416,Sales,"Продажи, закупки, снабжение, торговля",Город Москва,2,г Москва,"{""latitude"": 55.755819, ""longitude"": 37.617644}",...,2025-04-01T00:00:00+0300,"{""workPlaceForeign"": false, ""workPlaceOrdinary...",МСЭ,Без уточнения,NaN,0,[],Медицинская книжка,Добровольное медицинское страхование,Допустимые
freq,1,19106,2063,718,4394,4394,5094,228,459,4976,...,45,13972,12,613,NaN,19033,16847,900,753,3038

In [9]:
clean_vacancies_df.to_parquet('data/clean/vacancies.parquet', compression='zstd', engine='pyarrow')

Очистка данных по резюме

In [20]:
%reset -f

In [14]:
import pandas as pd

cv_df_head = pd.read_parquet(f'data/processed/cv.1.parquet')
cv_df_head.describe()

,id,candidateId,stateRegionCode,locality,localityName,birthday,gender,age,positionName,dateCreate,...,languageKnowledge,relocation,innerInfo,salaryMin,salaryMax,shifts,businessActivities,certifyingDocuments,additionalInformation,education
count,1020000,1020000,1019998,1019998,1019043,993892,1020000,993892,1019905,1020000,...,1019997,1019997,1019997,1019997,1019996,1019997,1019996,1019996,145,711293
unique,1020000,999519,91,46883,46126,46055,2,149,149119,952412,...,5507,3,1017189,5500,5499,11,169,4467,144,10
top,1e5d1170-0e37-11ee-bfef-d53cd48f29e6,8ba49600-c388-11eb-80bf-7bf9d8e248ac,2300000000000,7700000000000,г-Москва,2008-01-10T15:00:00+0300,Женский,38,Подсобный-рабочий,2020-04-22T11:13:10+0300,...,[],Не-готов-к-переезду,"{""idUser"": ""bf9e3ea0-85e7-11ea-ab25-195c1cfba7...",30000,30000,[],[],[],Профессиональные-качества-Уверенный-пользовате...,Среднее-общее
freq,1,44,43506,29653,29653,116,560158,32088,28596,9,...,555814,970507,8,142972,142972,1019407,1019819,1013793,2,265022

In [18]:
import pandas as pd
from tqdm import tqdm
parquet_filenames = [f'cv.{i}.parquet' for i in range(1, 12)]

clean_cv_df = pd.DataFrame()
for file in tqdm(parquet_filenames):
  chunk = pd.read_parquet(f'data/processed/{file}')
  moscow_chunk = chunk.query('stateRegionCode == "7700000000000"')
  clean_cv_df = pd.concat([clean_cv_df, moscow_chunk])

clean_cv_df.describe()

100%|██████████| 11/11 [00:58<00:00,  5.28s/it]

,id,candidateId,stateRegionCode,locality,localityName,birthday,gender,age,positionName,dateCreate,...,languageKnowledge,relocation,innerInfo,salaryMin,salaryMax,shifts,businessActivities,certifyingDocuments,additionalInformation,education
count,336865,336865,336865,336865,336859,324873,336865,324873,336849,336863,...,336864,336864,336864,336812,336809,336864,336861,336861,749,295632
unique,336865,304344,1,835,827,38532,2,113,72751,334851,...,5749,3,336003,1361,1361,12,566,2221,691,10
top,803eb600-1eb6-11f0-b493-e7f46f7514cd,ab56eba0-c83e-11eb-80bf-7bf9d8e248ac,7700000000000,7700000000000,г-Москва,1989-01-09T00:00:00+0300,Женский,36,Администратор,2021-10-12T17:06:35+0300,...,[],Не-готов-к-переезду,"{""idUser"": ""167af140-9c0b-11e9-8920-5d9e90ab95...",50000,50000,[],[],[],"Приветствую-Вас,-уважаемые-работодатели!-Я,-тв...",Высшее-бакалавриат
freq,1,226,336865,304897,304899,247,188034,11267,9951,10,...,129014,313122,10,51324,51328,336163,336228,334214,6,173736

In [47]:
clean_cv_df['educationList'].describe()

count     336865
unique    264744
top           []
freq       24116
Name: educationList, dtype: object

In [49]:
clean_cv_df.to_parquet('data/clean/cv.parquet', compression='zstd', engine='pyarrow')